body {
  background-color: black;
}
.App {
  text-align: center; 
}

.App-header {
  background-color: black;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  padding: 2.5vh;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: aliceblue;
}

.photo {
  height: 85%;
  width: 85%;
  
}

