/* .Btn{
    cursor: pointer;
    background-color: white;
    border-style: none;
    padding: 10px;
}
 */

 .project-card {
    background-color: #e7e7e7; 
 }
.card-image {
    height: 60%;
    
}

.a-black {
    color:black;
    margin: 5px;
}
.a-red {
    color:red;
    margin: 5px;
}
