.Project-card {
    background-color: white;
    height: 50vh;
    width: 50vh;
    border-radius: 10px;
    color: black;
    margin-top: 20%;
    margin-right: 20px;
    margin-left: 20px;
    float: left;
}

img {
    height: 50%;
    width: 90%;
    display: inline-block;
}

.Btn{
    cursor: pointer;
    background-color: white;
    border-style: none;
}